{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seznam vseh produktov</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Productcode</th>
                <th>Uniquenumber</th>
                <th>Materiallot</th>
                <th>Locationid</th>
                <th>Subscriberid</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('p_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.productCode }}</td>
                <td>{{ product.uniqueNumber }}</td>
                <td>{% if product.materialLot %}{{ product.materialLot|join(', ') }}{% endif %}</td>
                <td>{{ product.locationId }}</td>
                <td>{{ product.subscriberId }}</td>
                <td>{{ product.note }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('p_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('p_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('p_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
