{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Productcode</th>
                <td>{{ product.productCode }}</td>
            </tr>
            <tr>
                <th>Uniquenumber</th>
                <td>{{ product.uniqueNumber }}</td>
            </tr>
            <tr>
                <th>Materiallot</th>
                <td>{% if product.materialLot %}{{ product.materialLot|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Locationid</th>
                <td>{{ product.locationId }}</td>
            </tr>
            <tr>
                <th>Subscriberid</th>
                <td>{{ product.subscriberId }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ product.note }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('p_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('p_edit', { 'id': product.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
